name: Build Android APK

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-linux-android

      - name: Install cargo-apk
        run: cargo install cargo-apk

      # TOTO JE TA NOVÁ ČÁST PRO OPRAVU CHYBY
      - name: Install Android Platform
        run: |
          yes | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --licenses
          $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager "platforms;android-30" "platforms;android-31" "build-tools;33.0.0"

      - name: Build APK
        run: cargo apk build --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: cnc-kalkulacka
          path: target/release/apk/cnc_kalkulacka.apk

